<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/71bb237577.js" crossorigin="anonymous"></script>
    <title>Alibazon</title>
</head>

<body class="text-center">
    <%- include('../header.ejs')%>
    <% if(!isAuthenthicated) { %>
    <div>
        <p>You are not logged in, please <a href="/auth/signin">sign in</a> or <a href="/auth/signup">sign up</a>.</p>
    </div>
    <% } else { %>
    <h3>Profile</h3>
    <ul>
        <li>
            Email: <%= userInfo.email %>
        </li>
        <li>
            Name: <%= userInfo.name %>
        </li>
        <li>
            Registered at: <%= userInfo.createdAt %>
        </li>
    </ul>
    <div class="user-accesories">
        <div class="user-orders">
            <a href="/auth/orders">
                <i class="fas fa-list-ul"></i>
            </a>
            <span>Orders</span>
        </div>

    </div>
    <% } %>
    <%- include('../footer.ejs')%>



</body>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
    integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
    crossorigin="anonymous"></script>

</body>

</html>