<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/71bb237577.js" crossorigin="anonymous"></script>
    <title>Alibazon</title>
</head>

<body>
    <div class="conteiner">
        <%- include('../header.ejs')%>
        <div class="row">
            <div class="col">
                <div class="row">
                    <% products.forEach(product => { %>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="/images/<%= product.image_groups[0].images[0].link %>"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a href="" title="View Product"><%= product.name %></a>
                                </h4>
                                <p class="card-text"><%- product.long_description %></p>
                                <div class="row">
                                    <div class="col">
                                        <p class="btn btn-danger btn-block"><%= product.price %> <%= product.currency %>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <a href="/products/<%= subcategory %>/<%= product.id %>"
                                            class="btn btn-success btn-block">More info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <% }) %>
                </div>
            </div>
        </div>
        <%- include('../footer.ejs')%>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
</body>

</html>